body {
    font-family: sans-serif;
    margin: 0px;
}

.content {
    margin: 0px 20px;
}

.flex-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
}
