@import 'mixins';

$accent-color: darkseagreen;
$header-height: 65px;

body {
    font-family: sans-serif;
    margin: 0px;
}

h1, h3 {
    color: $accent-color;
    text-transform: uppercase;
}

.content {
    margin: 20px;
}

.todoItemList {
    @media all and (min-width: 800px) {
        width: 50%;
    }
}

.register {
    @include flex-column();

    @media all and (min-width: 800px) {
        width: 15%;
    }
}

.login {
    @media all and (min-width: 800px) {
        @include flex-row();
    }
    @media all and (max-width: 800px) {
        @include flex-column();
    }
    margin-right: 20px;
}

.todoItem {
    padding: 5px;

    .description {
        margin: 10px;
    }
}

.header {
    h1 {
        margin: 0px 10px;
    }
    @media all and (min-width: 800px) {
        @include flex-row();

        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    @media all and (max-width: 800px) {
        @include flex-column();
    }

    padding: 5px 10px;
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 2px 5px gainsboro;
    background-color: whitesmoke;
}
