@import 'mixins';

$accent-color: darkblue;
$accent-border: 30px solid $accent-color;
$content-background-color: whitesmoke;
$header-height: 65px;

html, body {
    font-family: sans-serif;
    margin: 0px;
    width: 100%;
    height: 100%;
}

h1, h3 {
    color: $accent-color;
    text-transform: uppercase;
}

.content {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 2px 5px gainsboro;
    background-color: $content-background-color;
    flex-grow: 1;
    max-width: 50%;

    .todoItemList {
        background-color: $content-background-color;
    }
}

.register, .login {
    @include flex-column();
    padding: 10px;
    margin: 0px auto 0px auto;
    box-shadow: 3px 4px 10px gainsboro;
    border: 1px solid gainsboro;
    border-top: $accent-border;
    border-bottom: $accent-border;
    padding: 30px;

    @media all and (min-width: 800px) {
        margin-top: 10%;
        width: 265px;
    }
}

.todoItem {
    padding: 5px;

    .description {
        margin: 10px;
    }
}

.header {
    h1 {
        margin: 0px 10px;
    }
    @media all and (min-width: 800px) {
        @include flex-row();

        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    @media all and (max-width: 800px) {
        @include flex-column();
    }

    padding: 5px 10px;
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 2px 5px gainsboro;
    background-color: whitesmoke;
}

.locale {
    border-left: 1px solid;
    cursor: pointer;
    margin: 5px;
    padding-left: 5px;
}

.selectedLocale {
    color: $accent-color;
    font-weight: bold;
    border-left: 2px solid $accent-color;
}
